  
<li>
  <%= link_to "Problem set 1: News and divide by zero", news_path %>
</li>
<li>
  <%= link_to "Problem set 2: Famous Quotes", basics_path %>
</li>
<li>
  <%= link_to "Problem set 3: Planning", planning_path %>
</li>
